<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vue.js and API using Axios</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <!-- Call Vue.js via CDN for templating -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <!-- Call the Vue.js router via unpkg -->
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <!-- Call Axios via CDN for API calls -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>

<body>
    <!-- Beginning of block of template code with the ID of 'app'. The <template> tag doesn't do anything except block the W3C validators -->
    <div id="app">
        <template>
            <!-- Did something go wrong? The message below will display. Check the Console to see what the error
            message is, as well. -->
            <section v-if="errored">
                <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
            </section>
            <!-- This is where we loop through the results of our API call if it was successful. -->
            <section v-if="info">
                <!-- My Code -->
                <header id="definition-header">
                    <h1 id="title"><a href="index.html">Merriam Webster Dictionary</a></h1>
                </header>
                <div id="wrapper">
                    <h2 id="word">{{ info.data[0].hwi.hw }}</h2>
                    <div id="info">
                        <p><strong>1.</strong> {{ info.data[0].shortdef[0] }}</p>
                        <p><strong>2.</strong> {{ info.data[0].shortdef[1] }}</p>
                        <p id="stems"><strong>Stems:</strong> {{ info.data[0].meta.stems[1] }},
                            {{ info.data[0].meta.stems[2] }}</p>
                        <p><strong>Word Class:</strong> {{ info.data[0].fl }}</p>
                    </div>
                </div>
                <!-- My Code End -->
                <h2 class="data">Raw data from the API call (remove when you are done developing this page)</h2>
                <pre class="data">{{ info }}</pre>
            </section>
        </template>
    </div>
    <!-- End of block of template code -->

    <!-- Block of code that makes the API call, then puts the data into an object called 'info'
    and finally, allows use of the data in an HTML object with the ID of 'app'. -->
    <script>
        var router = new VueRouter({
            mode: 'history',
            routes: []
        });
        new Vue({
            el: '#app',
            router,
            data() {
                return {
                    info: null,
                    loading: true,
                    errored: false
                }
            },
            mounted() {
                axios

                    // MERRIAM WEBSTER DICTIONARY - https://dictionaryapi.com/products/json
                    // https://dictionaryapi.com/

                    .get("https://dictionaryapi.com/api/v3/references/collegiate/json/" + this.$route.query
                        .word + "?key=e27ff8e6-f296-45a3-89e8-98c77af6c036")

                    .then(response => {
                        this.info = response
                        console.log(response)
                    })
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
                    .finally(() => this.loading = false)
            }
        })
    </script>
</body>

</html>